<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BudgetPal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
    <link rel="stylesheet" type=text/css href="/styles/main.css">

</head>

<body>
    <div class="row sec container-fluid">
        <div class="col-sm-7 blur">
            <div class="row">
                <div class="col-6">
                    <div class="row"><img src="/images/Rectangle 2.png" alt="" id="p11"></div>
                    <div class="row"><img src="/images/Rectangle 6.png" alt="" id="p12"></div>
                    <div class="row"><img src="/images/smarts.png" alt="" id="p13"></div>
                </div>
                <div class="col-6">
                    <div class="row"><img src="/images/Rectangle 4.png" alt="" id="p21"></div>
                    <div class="row"><img src="/images/smart.png" alt="" id="p22"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 save container-fluid green">
            <div class="w-100 blurimg">
                <img src="/images/logo.png" alt="BudgetPal" class="logo ">
            </div>
            <div class="tagline container-fluid blurtag">
                $PEND,TRACK,<br>$AVE-
                <br>REPEAT!!
            </div>
            <div class="w-100 logg">
                <div class="lpage-login">
                    <div class="row upper">
                        <h3 class="lgn col-11">Login</h3>
                        <span class="close-button col-1" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </span>
                    </div>
                    <form action="/login" class="form" method='post'>
                        <div class="row">
                            <div class="col-8"><input type="email" placeholder="Email" class="form-control inp email"
                                    name="mail" required>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col-8"><input type="password" class="form-control inp pass" name="Password"
                                        placeholder="Password" required></div>
                                <div class="col"></div>
                            </div>
                            <div class="row">
                                <div class="col"><input type="submit" class="form-control inp cr-acc" value="Log in"
                                        required>
                                </div>
                            </div>
                    </form>
                        </form>     
                    <form action="/sign_up" method="post">
                        <span class="al-acc-lg">
                            <input class="log-al" id="create" type="submit" value="Don't Have an Account?Create Here">
                        </span>
                    </form>
                </div>

            </div>
        </div>
        <div class="row badal blog blurbadal">
            <div class="col-3 chota-badal">

            </div>
            <div class="col-5 bada-badal">
                <p> </p>
            </div>
            <div class="col-4 medium-badal">
                <p></p>
            </div>
        </div>
    </div>
    </div>
    <script>
        document.getElementById('create').addEventListener('click', () => {
            logger();
        });
        document.getElementsByClassName("close-button")[0].addEventListener('click', () => {
            window.location.href = '/';

        });
        document.querySelector('.blur').style.filter = 'blur(5px)';
        document.body.style.overflow = 'hidden';
        document.querySelector('.blurtag').style.filter = 'blur(5px)';
        document.querySelector('.blurimg').style.filter = 'blur(5px)';
        document.querySelector('.blurbadal').style.filter = 'blur(5px)';

    </script>
    <script src="/scripts/logger.js"></script>
</body>

</html>